dialog {
  border: 0;
  width: 200px;
  height: 120px;
  border-radius: 12px;
  box-shadow: 4px 4px 13px 0px #333;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

dialog>div {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

dialog>div>button {
  background-color: #fff;
  width: 100px;
  height: 36px;
  border-radius: 12px;
  border: 0;
  box-shadow: 1px 2px 3px 0px #888;
  font-family: inherit;
}

dialog>div>button:hover {
  cursor: pointer;
}

dialog>div>button:active {
  transform: translateY(2px);
}