@font-face {
  font-family: 'White Rabbit';
  src: url('./assets/fonts/WhiteRabbit.woff2') format('woff2'),
    url('./assets/fonts/WhiteRabbit.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'White Rabbit';
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #4169E1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
}